* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-fluid {
    width: auto;
    margin: 10px;
}

.header {
    color: white;
    font-size: 3rem;
}

.col {
    margin-bottom: 10px;
}



hr.solid {
    border: 1px solid;
    opacity: 30%;
}

.currentInfo {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
}

#uvIndex {
    display: inline;
}

.favorable {
    padding: 5px;
    background-color: lightgreen;
    border-radius: 10%;
}

.moderate {
    padding: 5px;
    background-color: yellow;
    border-radius: 10%;
}

.severe {
    padding: 5px;
    background-color: red;
    border-radius: 10%;
}

#weatherCards {
    margin: 20px;
}