* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-fluid {
    width: auto;
    margin: 10px;
}

.header {
    color: white;
    font-size: 3rem;
}

.col {
    margin-bottom: 10px;
}



hr.solid {
    border: 1px solid;
    opacity: 30%;
}